.card {
  width: 15em;
  height: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  margin: 1em 0;
}

.unflippedCard {
  background-image: linear-gradient(-30deg, #8360c3, #2ebf91);
}

.value {
  font-size: 8em;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 50%;
  height: 9rem;
  width: 9rem;
  text-align: center;
}

.cardLogo {
  font-size: 4em;
  transform: rotate(-30deg);
  color: #fff;
}
